html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

html{
  font-family: "helvetica neue", sans-serif;
}

body{
  background-color: #eeffff;
}

.nav{
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 70px;
  line-height: 70px;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.menu{
  margin: 0 30px 0 0;
  max-width: 800px;
  float: right;
}

.menu a{
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
  font-size: 14px;
}

span{
  color: #54d17a;
}

#menuicon{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle{
  display: none;
}

#logo{
  padding: 5px 16px;
  float: left;
  width: 160px;
}

.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 14px;
  border: none;
  outline: none;
  color: gray;
  background-color: inherit;
  padding-right:12px;
  font-family:  inherit;
  margin: 0;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  margin-left: -25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: gray;
  padding: 0 10px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #eaeaeb;
}

.menu a:hover, .dropdown:hover .dropbtn{
  color:orange;
  font-size: 14.5px;}

.dropdown:hover .dropdown-content{
  display: block;
}

.footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#efe;
  text-align: center;
  font-size: 15px;
  color: gray;
  border-top: 1px solid #eaeaeb;
  padding-top: 10px;
}

.footer a{
  text-decoration: none;
  color: gray;
}

.footer a:hover{
  color: pink;
}

.footermenu a{
  padding: 0 10px;
}

.footermenu a:hover{
  font-size: 16px;
}

.smed{
  padding: 15px 10px;
  font-size: 18px;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
}

.img_container{
  margin: 15px 8%;
  position: relative;
}

.igpic{
  float: left;
  padding: 5px;
}

.igpic img{
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-radius: 5%;
}

.igpic img:hover{
  opacity: 1;
  filter: alpha(opacity=100);
}

.igpic img:hover{
  transform: scale(1.05,1.05);
}


/*Responsive Design*/

@media only screen and (max-width: 760px){
  #menuicon{
    display: block;
    cursor: pointer;
  }

  .img_container{
    margin:15px 7%;
  }

  .menu{
    text-align:center;
    width: 100%;
    display: none;
  }

  .menu a{
    display: block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0;
    background-color: #fafaf9;
  }

  .dropdown{
    float: none;
    border-bottom: 1px solid #eaeaeb;
    background-color: #fafaf9;
  }

  .dropdown-content{
    position: relative;
    border-bottom: none;
    border-top: 1px solid #eaeaeb;
    box-shadow: 0 0 0 0;
    margin-left: 0px;
  }

  .dropdown-content a{
  background-color: #fafaff;
  }

  #toggle:checked + .menu{
    display: block;
  }
}

/*alternate*/

.container{
  position: relative;
  margin: 0 25%;
}

.mySlides{
  display: none;
  background-color: black;
}

.mySlides img{
  margin: 0 25%;
}

.cursor{
  cursor: pointer;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top:40%;
  width: auto;
  length:100%;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: #111;
}

.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container{
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}


.demo{
  opacity: 0.6;
}

.active, .demo:hover{
  opacity: 1;
}
