/*GENERAL*/

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

html{
font-family: 'Poiret One', cursive;
}

body{
  background-color: #eff4fc;
}

/*MENU*/

.nav{
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 70px;
  line-height: 70px;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.menu{
  margin: 0 30px 0 0;
  max-width: 800px;
  float: right;
}

.menu a{
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
  font-size: 18px;
}

span{
  color: #54d17a;
}

#menuicon{
  margin: 0 40px 0 0;
  font-size: 28px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle{
  display: none;
}

#logo{
  padding: 5px 16px;
  float: left;
  width: 160px;
}

/*FOOTER*/

.footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#efe;
  text-align: center;
  font-size: 17px;
  color: gray;
  border-top: 1px solid #eaeaeb;
  padding-top: 10px;
  margin-top: 20px;
}

.footer a{
  text-decoration: none;
  color: gray;
}

.footer a:hover{
  color: pink;
}

.footermenu a{
  padding: 0 10px;
}

.footermenu a:hover{
  font-size: 18px;
}

.smed{
  padding: 15px 10px;
  font-size: 20px;
}

/*SECTION*/

#section{
}

/*IND SECTIONS*/

#section-instagram{
  height: 55%;
  margin-top: 5px;
  display: flex;
  width: 100%;
}

#section-instagram-fullpic{
  width:55%;
  float: right;
  overflow: hidden;
}

#section-instagram-grid{
  width: 45%;
  float: left;
  overflow: hidden;
}

#section-quote{
  height: 4%;
  margin-top: 5px;
  font-family: 'Cookie', cursive;
  font-size: 24px;
  text-align: center;
  padding-top: 7px;
  -webkit-animation-name: sizedown;
  -webkit-animation-duration: 2s;
  animation-name: sizedown;
  animation-duration: 2s;
}

#section-reservations{
  height: 10%;
  background-color: black;
  margin-top: 5px;
  text-align: center;
  padding-top: 15px;
}

#section-reservations a{
  font-size: 37px;
  color: white;
  text-decoration: none;
}

#section-reservations a:hover{
font-size: 40px;
}

/*SLIDESHOW*/

.mySlides{
  display: none;
  height: inherit;
}

.mySlides img{
  height: 350px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*INSTAGRAM GRID*/

.row{
  display: flex;
  flex-wrap: wrap;
}

.thumbnailimg{
  opacity: .6;
  border-radius: 7%;
}

.active, .thumbnailimg:hover{
  transform: scale(1.02);
  opacity: 1;
}

#section-quote:hover{
  -webkit-animation-name: sizeup;
  -webkit-animation-duration: 2s;
  animation-name: sizeup;
  animation-duration: 2s;
}

@-webkit-keyframes sizeup {
  from {font-size: 24px}
  to {font-size: 27px}
}

@keyframes sizeup {
  from {font-size: 24px}
  to {font-size: 27px}
}

@-webkit-keyframes sizedown {
  from {font-size: 27px}
  to {font-size: 24px}
}

@keyframes sizedown {
  from {font-size: 27px}
  to {font-size: 24px}
}

/*menu div*/

.menu-div{
  text-align: center;
  font-size: 32px;
  background-color: #a0e3ef;
  font-weight: bold;
}

.menu-div a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 20px 10px;
}

.menu-div a:hover{
  color: #ccc;
  font-size: 24px;
  font-weight: bolder;
  background-color: #234;
  border-radius: 40%;
}

/*//Our menu//*/

.container{
  margin-top: 10px;
}

.formholders{
  text-align: center;
  margin-top: 5px;
}

.formholders select{
  font-size: 18px;
}

#results{
  width: 80%;
  margin: 15px 10%;
  text-align: center;
}

#results th{
  border: 1px dotted #444
  ;
  font-weight: bolder;
  font-size: 20px;
}

#results tr td{
  border: 1px dashed #666;
  font-size: 14px;
}

.prices{
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

.selectors select{
  font-size: 15px;
}

.res-form{
  margin: 20px 0;
  text-align: center;
}

.res-form input, textarea{
  width: 200px;
}

.contact{
  text-align: center;
}

/* .res-main{
  text-align: center;
}

.res-guest{
  margin: 80px 0;
}

.res-guest-num{
  padding: 50px;
  margin: 0 10px;
  border: 1px solid black;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.res-guest-num:hover{
  color: #eee;
  background-color: #373;
  cursor: pointer;
} */
